@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Kelas untuk animasi scrolling */
.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* Berhenti sementara saat hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

/* Sembunyikan scrollbar (opsional) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}